## This notebook merges all indexes using the dates as index and generates one file with daily granularity and one file with weekly granularity

In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
#Daily
v_sp500 = pd.read_csv('input\/S&P500.csv', parse_dates=True)
v_sp500['Date'] = pd.to_datetime(v_sp500['Date'], infer_datetime_format=True)
v_sp500.index = v_sp500['Date'].values
v_sp500 = v_sp500.loc['2000-01-01':'2020-03-18']
v_sp500 = v_sp500.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_sp500 = v_sp500.add_prefix('sp500_')
v_sp500.tail()

            sp500_Close  sp500_Volume
2020-03-12  2480.639893    8829380000
2020-03-13  2711.020020    8258670000
2020-03-16  2386.129883    7781540000
2020-03-17  2529.189941    8358500000
2020-03-18  2398.100098    8755780000

In [3]:
#Daily
v_vix = pd.read_csv('input\/VIX.csv', parse_dates=True)
v_vix['Date'] = pd.to_datetime(v_vix['Date'], infer_datetime_format=True)
v_vix.index = v_vix['Date'].values
v_vix = v_vix.loc['2000-01-01':'2020-03-18']
v_vix = v_vix.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_vix = v_vix.add_prefix('vix_')
v_vix.head()

            vix_Close  vix_Volume
2000-01-03  24.209999           0
2000-01-04  27.010000           0
2000-01-05  26.410000           0
2000-01-06  25.730000           0
2000-01-07  21.719999           0

In [4]:
#Daily
v_dji = pd.read_csv('input\/^DJI.csv', parse_dates=True)
v_dji['Date'] = pd.to_datetime(v_dji['Date'], infer_datetime_format=True)
v_dji.index = v_dji['Date'].values
v_dji = v_dji.loc['2000-01-01':'2020-03-18']
v_dji = v_dji.drop(['Date', 'Adj Close', 'High', 'Low', 'Open', 'High', 'Low', 'Open'], axis=1)
v_dji = v_dji.add_prefix('dji_')
v_dji.head()

               dji_Close  dji_Volume
2000-01-03  11357.509766   169750000
2000-01-04  10997.929688   178420000
2000-01-05  11122.650391   203190000
2000-01-06  11253.259766   176550000
2000-01-07  11522.559570   184900000

In [5]:
#Daily
v_ndx = pd.read_csv('input\/^NDX.csv', parse_dates=True)
v_ndx['Date'] = pd.to_datetime(v_ndx['Date'], infer_datetime_format=True)
v_ndx.index = v_ndx['Date'].values
v_ndx = v_ndx.loc['2000-01-01':'2020-03-18']
v_ndx = v_ndx.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_ndx = v_ndx.add_prefix('ndx_')
v_ndx.head()

              ndx_Close  ndx_Volume
2000-01-03  3790.550049  1510070000
2000-01-04  3546.199951  1511840000
2000-01-05  3507.310059  1735670000
2000-01-06  3340.810059  1598320000
2000-01-07  3529.600098  1634930000

In [6]:
#Daily
v_n225 = pd.read_csv('input\/N225.csv', parse_dates=True)
v_n225['Date'] = pd.to_datetime(v_n225['Date'], infer_datetime_format=True)
v_n225.index = v_n225['Date'].values
v_n225 = v_n225.loc['2000-01-01':'2020-03-18']
v_n225 = v_n225.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_n225 = v_n225.add_prefix('n225_')
v_n225.head()

              n225_Close  n225_Volume
2000-01-04  19002.859375          0.0
2000-01-05  18542.550781          0.0
2000-01-06  18168.269531          0.0
2000-01-07  18193.410156          0.0
2000-01-10           NaN          NaN

In [7]:
#Daily
v_ftse = pd.read_csv('output\/CompleteFTSE.csv', parse_dates=True)
v_ftse['Date'] = pd.to_datetime(v_ftse['Date'], infer_datetime_format=True)
v_ftse.index = v_ftse['Date'].values
v_ftse = v_ftse.loc['2000-01-01':'2020-03-18']
v_ftse = v_ftse.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_ftse = v_ftse.add_prefix('ftse_')
v_ftse.head()

             ftse_Close  ftse_Volume
2000-01-03          NaN          NaN
2000-01-04  6665.899902  633449000.0
2000-01-05  6535.899902  670234000.0
2000-01-06  6447.200195  785532000.0
2000-01-07  6504.799805  888306000.0

In [8]:
#Daily
v_hsi = pd.read_csv('input\/^HSI.csv', parse_dates=True)
v_hsi['Date'] = pd.to_datetime(v_hsi['Date'], infer_datetime_format=True)
v_hsi.index = v_hsi['Date'].values
v_hsi = v_hsi.loc['2000-01-01':'2020-03-18']
v_hsi = v_hsi.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_hsi = v_hsi.add_prefix('hsi_')
v_hsi.head()

               hsi_Close  hsi_Volume
2000-01-03  17369.630859         0.0
2000-01-04  17072.820313         0.0
2000-01-05  15846.719727         0.0
2000-01-06  15153.230469         0.0
2000-01-07  15405.629883         0.0

In [9]:
#Daily
v_n100 = pd.read_csv('input\/^N100.csv')
v_n100['Date'] = pd.to_datetime(v_n100['Date'], infer_datetime_format=True)
v_n100.index = v_n100['Date'].values
v_n100 = v_n100.loc['2000-01-01':'2020-03-18']
v_n100 = v_n100.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_n100 = v_n100.add_prefix('n100_')
v_n100.head()

            n100_Close  n100_Volume
2000-01-03  996.770020          0.0
2000-01-04  955.969971          0.0
2000-01-05  930.260010          0.0
2000-01-06  922.460022          0.0
2000-01-07  943.880005          0.0

In [10]:
#Monthly
v_emv =  pd.read_excel('input\/EMV_Data.xlsx', error_bad_lines=False) 
Date = v_emv.apply(lambda x: datetime(int(x['Year']),int(x['Month']),28), axis=1)
v_emv['Date'] = Date
v_emv['Date'] = pd.to_datetime(v_emv['Date'], infer_datetime_format=True)
v_emv.index = v_emv['Date'].values
v_emv = v_emv.loc['2000-01-01':'2020-03-18']
v_emv = v_emv[['Overall EMV Tracker']]
v_emv.head()

            Overall EMV Tracker
2000-01-28            24.412899
2000-02-28            19.913437
2000-03-28            26.104673
2000-04-28            43.429073
2000-05-28            34.308361

In [11]:
#Daily
v_infectious = pd.read_csv('input\/All_Infectious_EMV_Data.csv')
Date = v_infectious.apply(lambda x: datetime(int(x['year']),int(x['month']), int(x['day'])), axis=1)
v_infectious['Date'] = Date
v_infectious['Date'] = pd.to_datetime(v_infectious['Date'], infer_datetime_format=True)
v_infectious.index = v_infectious['Date'].values
v_infectious = v_infectious.loc['2000-01-01':'2020-03-18']
v_infectious = v_infectious.drop(['Date', 'day', 'month', 'year'], axis=1)
v_infectious = v_infectious.add_prefix('infectious_')
v_infectious.head()

            infectious_daily_infect_emv_index
2000-01-01                               1.05
2000-01-02                               2.62
2000-01-03                               0.00
2000-01-04                               0.99
2000-01-05                               0.00

In [12]:
#Quarterly - might not use
v_financial_stress = pd.read_excel('input\/Financial_Stress.xlsx')
Date = v_financial_stress.apply(lambda x: datetime(int(x['year']),int(x['quarter'])*3, 28), axis=1)
v_financial_stress['Date'] = Date
v_financial_stress['Date'] = pd.to_datetime(v_financial_stress['Date'], infer_datetime_format=True)
v_financial_stress.index = v_financial_stress['Date'].values
v_financial_stress = v_financial_stress.loc['2000-01-01':'2020-03-18']
v_financial_stress = v_financial_stress.drop(['date', 'Date', 'quarter', 'year'], axis=1)
v_financial_stress = v_financial_stress.add_prefix('financial_')
v_financial_stress.head()

            financial_indicator
2000-03-28           101.588292
2000-06-28           101.361929
2000-09-28           100.836200
2000-12-28           101.377272
2001-03-28           102.227537

In [13]:
#Monthly
v_gpr = pd.read_excel('input\/gpr_web_latest.xlsx')
v_gpr['Date'] = pd.to_datetime(v_gpr['Date'], infer_datetime_format=True)
v_gpr.index = v_gpr['Date'].values
v_gpr = v_gpr.loc['2000-01-01':'2020-03-18']
v_gpr = v_gpr[['GPR']]
v_gpr.head()

                  GPR
2000-01-01  40.634806
2000-02-01  34.391162
2000-03-01  54.098793
2000-04-01  35.769024
2000-05-01  34.094887

In [14]:
#Monthly
v_trade_uncertainty = pd.read_excel('input\/Trade_Uncertainty_Data.xlsx') 
Date = v_trade_uncertainty.apply(lambda x: datetime(int(x['Year']),int(x['Month']),28), axis=1)
v_trade_uncertainty['Date'] = Date
v_trade_uncertainty['Date'] = pd.to_datetime(v_trade_uncertainty['Date'], infer_datetime_format=True)
v_trade_uncertainty.index = v_trade_uncertainty['Date'].values
v_trade_uncertainty = v_trade_uncertainty.loc['2000-01-01':'2020-03-18']
v_trade_uncertainty = v_trade_uncertainty.drop(['Date', 'Year', 'Month'], axis=1)
v_trade_uncertainty = v_trade_uncertainty.add_prefix('trade_')
v_trade_uncertainty.head()

,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
2000-01-28,71.914247,117.577146,0.033573
2000-02-28,50.352413,58.499365,0.026471
2000-03-28,88.179754,31.808480,0.028139
2000-04-28,82.574216,54.061788,0.033755
2000-05-28,245.009584,73.961645,0.025000

In [15]:
df = pd.concat([v_sp500, v_vix, v_dji, v_ndx, v_n225, v_ftse, v_hsi, v_n100, v_emv, v_infectious, v_gpr, v_trade_uncertainty], axis=1, join='outer')

In [16]:
at_least_one_value_missing = df.apply(lambda x: (len(x)-x.count())>=1, axis=1)

In [17]:
at_least_one_value_missing.value_counts()

True    7383
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7383 entries, 2000-01-01 to 2020-03-18
Data columns (total 22 columns):
sp500_Close                                5084 non-null float64
sp500_Volume                               5084 non-null float64
vix_Close                                  5084 non-null float64
vix_Volume                                 5084 non-null float64
dji_Close                                  5084 non-null float64
dji_Volume                                 5084 non-null float64
ndx_Close                                  5084 non-null float64
ndx_Volume                                 5084 non-null float64
n225_Close                                 4952 non-null float64
n225_Volume                                4952 non-null float64
ftse_Close                                 4869 non-null float64
ftse_Volume                                4869 non-null float64
hsi_Close                                  4977 non-null float64
hsi_Volume                                 4977 non-null float64
n100_Close                                 5166 non-null float64
n100_Volume                                5166 non-null float64
Overall EMV Tracker                        242 non-null float64
infectious_daily_infect_emv_index          7383 non-null float64
GPR                                        243 non-null float64
trade_US Trade Policy Uncertainty          235 non-null float64
trade_Japanese Trade Policy Uncertainty    235 non-null float64
trade_Trade Policy EMV Fraction            235 non-null float64
dtypes: float64(22)
memory usage: 1.3 MB

In [19]:
df.to_csv(r'output\/CompleteIndexes.csv', index = True)

In [27]:
# Generating weekly sampled dataset
df_weekly= df.resample('W').mean()
df_weekly.index = df_weekly.index - timedelta(days=2)
df_weekly = df_weekly.iloc[1:]

In [28]:
df_weekly.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1055 entries, 2000-01-07 to 2020-03-20
Freq: W-FRI
Data columns (total 22 columns):
sp500_Close                                1055 non-null float64
sp500_Volume                               1055 non-null float64
vix_Close                                  1055 non-null float64
vix_Volume                                 1055 non-null float64
dji_Close                                  1055 non-null float64
dji_Volume                                 1055 non-null float64
ndx_Close                                  1055 non-null float64
ndx_Volume                                 1055 non-null float64
n225_Close                                 1053 non-null float64
n225_Volume                                1053 non-null float64
ftse_Close                                 1010 non-null float64
ftse_Volume                                1010 non-null float64
hsi_Close                                  1055 non-null float64
hsi_Volume                                 1055 non-null float64
n100_Close                                 1055 non-null float64
n100_Volume                                1055 non-null float64
Overall EMV Tracker                        242 non-null float64
infectious_daily_infect_emv_index          1055 non-null float64
GPR                                        242 non-null float64
trade_US Trade Policy Uncertainty          235 non-null float64
trade_Japanese Trade Policy Uncertainty    235 non-null float64
trade_Trade Policy EMV Fraction            235 non-null float64
dtypes: float64(22)
memory usage: 189.6 KB

In [29]:
df_weekly.to_csv(r'output\/CompleteWeeklyIndexes.csv', index = True)

In [30]:
df_weekly.shape

(1055, 22)

In [31]:
df_weekly.describe()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n225_Close,n225_Volume,...,hsi_Close,hsi_Volume,n100_Close,n100_Volume,Overall EMV Tracker,infectious_daily_infect_emv_index,GPR,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
count,1055.000000,1.055000e+03,1055.000000,1055.0,1055.000000,1.055000e+03,1055.000000,1.055000e+03,1053.000000,1053.000000,...,1055.000000,1.055000e+03,1055.000000,1.055000e+03,242.000000,1055.000000,242.000000,235.000000,235.000000,235.000000
mean,1591.841139,3.100855e+09,19.570531,0.0,14184.821958,2.208768e+08,3098.505274,1.935119e+09,14320.764097,107023.654638,...,19738.882420,1.298673e+09,808.935944,1.920429e+08,20.518374,0.699682,105.287105,99.977997,137.534283,0.038223
std,605.547542,1.429173e+09,8.620336,0.0,5358.480169,9.467072e+07,1996.858756,3.704564e+08,4472.827547,60743.296767,...,5744.302759,9.081207e+08,175.440446,1.600591e+08,8.159606,2.744107,72.084110,161.591601,125.719819,0.059338
min,695.190002,7.561175e+08,9.340000,0.0,6717.305957,5.249000e+07,832.747998,8.335525e+08,7256.931933,0.000000,...,8485.657471,0.000000e+00,442.902008,0.000000e+00,9.569581,0.000000,27.208537,10.564281,13.318538,0.000000
25%,1155.077014,1.670965e+09,13.560000,0.0,10424.754883,1.494140e+08,1595.732510,1.718000e+09,10305.520019,69040.000000,...,14823.255127,3.305239e+08,657.518994,0.000000e+00,15.218623,0.225000,61.300184,27.750150,60.525497,0.014552
50%,1365.767969,3.268124e+09,17.274000,0.0,12159.614063,2.207500e+08,2251.564063,1.913272e+09,13882.019922,114120.000000,...,20732.450000,1.459925e+09,810.770007,2.080873e+08,18.222499,0.398571,82.959536,49.481161,91.252297,0.022581
75%,2008.280984,3.900160e+09,22.672000,0.0,17135.325000,2.721680e+08,4278.480957,2.118055e+09,17482.135938,143220.000000,...,23535.431885,1.879538e+09,969.194000,2.932455e+08,23.561133,0.679286,127.635783,87.761268,154.707205,0.032529
max,3368.677978,9.328214e+09,78.350001,0.0,29385.194141,8.115167e+08,9605.762696,4.795060e+09,24077.335938,483080.000000,...,32818.274219,5.632904e+09,1173.309985,8.162626e+08,69.834999,57.690000,545.093671,1374.280098,699.973790,0.354037

In [33]:
df_weekly.tail()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n225_Close,n225_Volume,...,hsi_Close,hsi_Volume,n100_Close,n100_Volume,Overall EMV Tracker,infectious_daily_infect_emv_index,GPR,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
2020-02-21,3366.854980,3.813365e+09,15.462500,0.0,29198.152344,2.740575e+08,9605.762696,2.553652e+09,23396.726172,60100.000000,...,27612.716016,1.566489e+09,1173.309985,208087340.0,NaN,4.341429,NaN,NaN,NaN,NaN
2020-02-28,3080.693946,6.307054e+09,31.942000,0.0,26635.150000,6.038540e+08,8737.351953,3.147614e+09,22030.697754,114950.000000,...,26663.830078,1.854099e+09,1080.093994,449170340.0,24.443546,29.937143,76.532662,NaN,NaN,NaN
2020-03-06,3044.006054,5.979102e+09,36.757999,0.0,26339.529688,5.638040e+08,8724.750195,4.040054e+09,21121.148047,104200.000000,...,26342.621875,2.292851e+09,1030.441992,434007680.0,NaN,26.794286,NaN,NaN,NaN,NaN
2020-03-13,2712.365967,8.104234e+09,57.792001,0.0,23361.727734,7.641180e+08,7917.065820,4.597718e+09,18994.524219,172440.000000,...,24801.312110,3.955053e+09,860.319995,722226640.0,NaN,57.690000,NaN,NaN,NaN,NaN
2020-03-20,2437.806641,8.298607e+09,78.350001,0.0,20441.606771,8.115167e+08,7223.170085,4.795060e+09,16913.373047,178033.333333,...,23163.650391,3.852502e+09,753.783346,627243300.0,NaN,52.960000,NaN,NaN,NaN,NaN